<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cup of Sugar</title>

    <!------------------------ CSS  --------------------------->
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <!------------------------ Google   --------------------------->
    <link href="https://fonts.googleapis.com/css?family=Karla|Lobster|Pacifico|Satisfy" rel="stylesheet">
    <!------------------------ Favicon  --------------------------->
    <link rel="shortcut icon" type="image/png" href="/images/cupofSugar.png"/>
  
  </head>

<body>
  <header id="head">
  <h2><a href="/">Cup of Sugar</a></h2>
  <div id="authentication">

        <h4><a href="/get">Get Favor</a></h4>
        <h4><a href="/post">Post Favor</a></h4>
    
  </div>
</header>
  {{{body}}}
</body>

<!-- JS Stuff -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
<script src="./js/index.js"></script>
<script src="./js/get.js"></script>
<script src="./js/post.js"></script>

</html>

