<section id="allItems">
    {{!-- <div id="section-form-top"> --}}
        <img id="companyLogo" src="/images/cupofSugarFullLogo.png">
        <div id="pageDetails">
            <h3>Get to Sharing!</h3>
            <br>
            <p>
                Reap the benefits of the community, scroll down to check out what your neighbors have offered to share
                with you
            </p>
        </div>
        <hr />

       

        <div class="card">
            <img src="/images/templateItem.jpg" alt="template item" id="itemImg">

            <div class="itemInfo">
                <h4> Item Name: Lawnmower </h4> <br>
                <br>
                <p id="description">Recently purchased a lawn mower, there are a few scratches here and there but
                    overall
                    it works great!
                    Super easy to use, it's available whenever, just send me a quick text or call at 123.456.7890 :)
                    also
                    maybe my username, address?? should be here? maybe?
                </p>

                {{!-- CONTACT BUTTON --}}
                <button>Contact Me</button>
            </div>
        </div>

         {{!-- UPDATE THIS --}}
        
            {{#each AllFavors}}
            <div class="card">
            <img src="{{imageURL}}">
            <div class="itemInfo">
            <h4>Item Name: {{title}}</h4><br>
            <p class="description">{{body}}</p>
            
            <button>Contact Me</button>
            
            </div>
            </div>
            {{/each}}

</section>