<section class="sections" id="allItems">
    {{!-- <div id="section-form-top"> --}}
        <img id="companyLogo" src="/images/cupofSugarFullLogo.png">
        <div id="pageDetails">
            <h3>Get Favor!</h3>
            <br>
            <p>
                See what the community has to offer. Scroll down to check out what your neighbors are sharing.
            </p>
        </div>
        <hr />

        <div id="card-section">

            <div class="card">
                <img src="/images/templateItem.jpg" alt="template item" class="itemImg">

                <div class="itemInfo">
                    <h4> Item Name: </h4>
                    <h5>Lawnmower</h5> <br>

                    <h4>Message:</h4>
                    <p id="description">Recently purchased a lawn mower, there are a few scratches here and there but
                        overall
                        it works great!
                        Super easy to use, it's available whenever, just send me a quick message.
                    </p>

                    {{!-- CONTACT BUTTON include some young curlys--}}
                    <button data-attr="{{userID}}">Contact Me</button>
                </div>
            </div>

            {{!-- UPDATE THIS --}}

            {{#each AllFavors}}
            <div class="card">
                <div class="image-container">
                    <img class="itemImg" src="{{imageURL}}">
                </div>
                <div class="itemInfo">
                    <h4>Item Name: </h4>
                    <h5>{{title}}</h5><br>
                    <h4>Message:</h4>
                    <p class="description">{{body}}</p>

                    <button class="contact-button"><a>Contact Me</a></button>

                </div>
            </div>
            {{/each}}
        </div>

</section>