<header id="head">
    <h2><a href="/">Cup of Sugar</a></h2>

  <div id="authentication">
    <h4><a href="/get">Get Favor </a></h4>
    <h4><a href="/post">Post Favor</a></h4>

  </div>
</header>

<section class="sections" id="section-home">
  <div id="section-top">
      <img id="companyLogo" src="/images/cupofSugarFullLogo.png">
</div>

  <h1>Bringing Neighbors Closer</h1>
  </div>

  <hr>
  <br>
  <br>
  <div id="about">
    <p>
      Cup of Sugar helps you share household items with your neighbors! Need a cup of sugar? A lawnmower? A shovel?
      Check with your neighbors! <br><br>

      You know what they say, you get as much as you give. Post an item or two that you'd like to offer to the
      community should they need it. Is that leafblower getting cobwebs? Share it! Neighbors are probably in need of it.
      <br /><br />
      Click below to get started!
    </p>
  </div>

  <button> <a href="/post">Post an Item to Share</a></button>
  <button> <a href="/get">Get an Item from Neighbors</a></button>
</section>
<script src="javascript.js"></script>