<header>
  <h2>Cup of Sugar</h2>
  <div id="authentication">
    <h4>Login</h4>
  </div>

</header>

<section>
  <img src="../public/images/cupofSugarLogo.png" />

  <h1>Bringing Neighbors Closer</h1>
  <hr>
  <br>
  <br>
  <div id="about">

    <p>
      Cup of Sugar helps you share household items with your neighbors! Need a cup of sugar? A favour? A lawnmower? A shovel? Ask your neighbors! <br><br>

      You know what they say, you get as much as you give. Is that leafblower getting cobwebs? Does your lemon tree have too many lemons? Post an item or two you'd like to offer the community. 

      <h3>Giving!</h3>
      <br /><br />
      SIGN UP to get started!
    </p>

  </div>

  <div class="ui huge buttons">
    <button class="ui button">Post an Item to Share</button>
    <div class="or"></div>
    <button class="ui button">Get an Item from Neighbors</button>
  </div>

</section>

<footer></footer>