<header>
  <h2>Cup of Sugar</h2>
  <div id="authentication">
    <h4><a href="/login">Login</a></h4>
    <h4><a href="/signup">Sign Up</a></h4>
  </div>
</header>

<section>
  <div id="section-top">
    <img src="/images/cupofSugarFullLogo.png" id="main-cup">
    <h1>Bringing Neighbors Closer</h1>
  </div>

  <hr>
  <br>
  <br>
  <div id="about">
    <p>
      Cup of Sugar helps you share household items with your neighbors! Need a cup of sugar? A lawnmower? A shovel?
      Check with your neighbors! <br><br>

      You know what they say, you get as much as you give. Post an item or two that you'd like to offer to the
      community should they need it. Is that leafblower gettig cobwebs? Share it! Neighbors are probably in need of it.
      <br /><br />
      Click below to get started!
    </p>
  </div>

  <button type="submit"> <a href="/post">Post an Item to Share</a></button>
  <button type="submit"> <a href="/get">Get an Item from Neighbors</a></button>
</section>
<script src="javascript.js"></script>