<!-- ------------------- SECTION ------------------ -->
<section class="sections" id="section-form">

  <div id="section-top">

    <img id="companyLogo2" src="/images/cupofSugarFullLogo.png">

  {{!-- </div> --}}
  <div id="section-about">
    <h3>Post Favor!</h3>
    <br>
    <p>
      Be a good neighbor and start sharing. Post an item to share with your neighbors by filling out the details below.
    </p>
  </div>
  </div>
  <hr />
  <!-- ------------------- FORM ------------------ -->

  <div id="section-form-form">
    <div id="section-gutter"> </div>
    <form method="get">
      <label>Item name:</label><br />
      <input placeholder="Lawnmower, Shovel, Milk, Sugar! etc.." type="text" name="itemname" id="itemname" value="" required />
      <br /><br />

      <label>Image URL:</label><br />
      <input placeholder="https://MyImage.jpg" type="text" name="image-url" id="image-url" value=""  /> <br /><br />


      <label for="msg">Message:</label><br>
      <textarea placeholder="Special Instructions? Let your neighbor know!" id="msg" name="user_message" id="user_message" required ></textarea>

      <button type="submit" id="submit" disabled >Submit</button>
    </form>
  </div>
</section>