 <!-- ------------------- HEADER ------------------ -->
    <header>
      <h2>Cup of Sugar</h2>
      <div id="authentication">
        <h4>Login</h4>
        <h4>Sign Up</h4>
      </div>
    </header>
    <!-- ------------------- SECTION ------------------ -->
    <section>
      <div id="section-top">
        <div id="section-logo">
          <!-- <canvas id="myCanvas" width="250" height="250"> -->
          <!-- Your browser does not support the HTML5 canvas tag.</canvas> -->
          <img src="cupofSugarLogo.png" id="main-cup" />
       
        </div>
        <div id="section-about">
          <h3>Get to Sharing!</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque,
            aspernatur tenetur iure nihil neque sed magnam animi earum cum
            dolorem itaque debitis ea suscipit modi. Amet dolor dolorum modi
            perspiciatis!
          </p>
        </div>
      </div>
      <hr />
      <!-- ------------------- FORM ------------------ -->
  
  <div id="section-form">
      <div id="section-gutter"> </div>
      <form method="get">
        <label>Item name:</label><br />
        <input placeholder="Lawnmower, Shovel, Milk, Sugar! etc.."type="text" name="itemname" id="itemname" value="" /> <br /><br />

        <label>Condition:</label><br />
        <input placeholder="Good, fair, poor, etc..." type="text" name="condition" id="condition" value="" /> <br /><br />

        {{!-- <label>Phone Number:</label><br />
        <input placeholder="(xxx)-xxx-xxxx" type="text" name="phone" value="" /> <br /><br />

        <label>Email Address:</label><br />        
        <input placeholder="neighbor@cupofsugar.com" type="text" name="email" value="" /> <br /><br /> --}}

        <label for="msg">Message:</label><br>
        <textarea placeholder="Special Instructions? Let your neighbor know!" id="msg" name="user_message" id="user_message"></textarea>

        <button type="submit" id="submit">Submit</button>
      </form></div>
    </section>

   