<header id="head-login">
  <h2>Cup of Sugar</h2>

</header>

<section class="sections">
  <div id="section-top">

    <img id="companyLogo2" src="/images/cupofSugarFullLogo.png">

    <div id="section-about">
      <h3>Welcome to Cup of Sugar!</h3>
      <br>
      <p>
       Cup of Sugar helps you share household items with your neighbors. Need lawnmower? A snowblower? A cup of sugar?
        Check with your neighbors! Get started by signing up or logging in below.
      </p>
    </div>
  </div>
  <hr />

  <h2 id="signHead">Sign Up</h2>
  <form class="signup">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="email-input" placeholder="Email">
    </div>
    <div class="form-group" id="form-group-2">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="password-input" placeholder="Password">
    </div>
    <div style="display: none" id="alert" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span> <span class="msg"></span>
    </div>
    <button type="submit" class="btn btn-default">Sign Up</button>
  </form>
  <br />
  <p id="login">Or log in <a id="login-a" href="/login">here</a></p>

</section>